:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --tertiary-color: #F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    /* max-width: 1160px; */
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 0em 3em 0em 3em;
    /* margin: auto; */
}

h1, h2 {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 0.2;
}

/* HEADER  */

header {
    padding: 0em 3em 0em 0em;
}

.logo {
    max-height: 36px;
}
.logo__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__wrap ul {
    display: flex;
}

.logo__wrap li{
    list-style-type: none;
    margin-right: 3em;
}
.logo__wrap li:last-child{
    margin-right: 0;
}
.logo__wrap a {
    text-decoration: none;
    padding-top: 25px;
    font-weight: 700;
}
.logo__wrap a:focus {
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);

}
.logo__wrap a:active {
    color: var(--primary-color);
}
.inscription {
    color: var(--primary-color);
}

/* SECTION CTA + SEARCH BAR */

.cta {
    margin-bottom: 3em;
}

.cta__search {
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
}
.cta__search-icon {
    width: 12px;
    padding: 0.6em 1em 0.6em 1em;
    font-weight: 700;
    background-color: var(--tertiary-color);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.cta__search input[type="search"] {
    height: 3em;
    margin-right: -5px;
    padding: 0.6em 1em 0.6em 1em;
    font-weight: 700;
    border: 1px solid var(--tertiary-color)
}
.cta__search input[type="search"]:focus {
    outline: none;
}

.cta__search input[type="submit"] {
    height: 3em;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 0.6em 1em 0.6em 1em;
    font-weight: 700;
    cursor: pointer;
}
.cta__search input[type="submit"]:active {
    filter: brightness(70%);
}
.cta__search input[type="submit"]:hover {
    filter: brightness(130%);
}


/* SECTION RESULTATS */


.resultats {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3em;
}

.resultats-ville {
    background-color: var(--tertiary-color);
    padding: 3em;
    margin-right: 3em;
    border-radius: 1em;
    width: 70%;
}
.resultats-pop {
    background-color: var(--tertiary-color);
    padding: 3em;
    border-radius: 1em;
    width: 30%;
}

.resultats__title {
    margin-bottom: 3em;
}

.resultats-ville__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3em;
}


.resultats a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* CARDS */


.resultats-ville__card, .resultats-pop__card, .activites__card, .activites__card-big {
    background-color: white;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 1em;
    box-shadow: 2px 2px 30px -5px rgba(0,0,0,0.1);
}
.resultats-ville__card {
    width: 27%;
}

.activites__card-big, .activites__two-cards {
    width: 22%;
}

/* SECTION ACTIVITES */

.activites__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.activites {
    margin-bottom: 3em;
}

/* FOOTER */

footer {
    background-color: var(--tertiary-color);
    padding: 3em;
}

footer ul li {
    list-style-type: none;
    transform: translateX(-40px);
}

footer a {
    text-decoration: none;
    color: black;
    line-height: 1.6;
}

.foo__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foo__wrap-col {
    width: 33%;
}